{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "n8n-template-gallery.fullname" . }}
  namespace: {{ .Release.Namespace }}
  annotations:
{{ toYaml .Values.ingress.annotations | indent 4 }}
spec:
  ingressClassName: {{ .Values.ingress.ingressClassName | quote }}
{{- if .Values.ingress.tls }}
  tls:
{{ toYaml .Values.ingress.tls | indent 4 }}
{{- end }}
  rules:
{{- range .Values.ingress.hosts }}
  - host: {{ .host | quote }}
    http:
      paths:
{{- range .paths }}
        - path: {{ .path | quote }}
          pathType: {{ .pathType }}
          backend:
            service:
              name: {{ include "n8n-template-gallery.fullname" $ }}
              port:
                number: {{ $.Values.service.port }}
{{- end }}
{{- end }}
{{- end }}
