replicaCount: 2

image:
  repository: harbor.aiplatform.com:31043/n8n/n8n-template-gallery
  tag: "v3.0.39-dev"
  pullPolicy: IfNotPresent

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

automountServiceAccountToken: false

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  ingressClassName: alb
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80},{"HTTPS":443}]'
    alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:ap-northeast-2:461548484502:certificate/12a851a4-1a8a-4af9-8c39-1ecd5766eb25
    alb.ingress.kubernetes.io/security-groups: sg-0d324c5a42486e8e0
    alb.ingress.kubernetes.io/subnets: subnet-0f7790155accf0489,subnet-0514043a18f654028,subnet-09e88dab298a36beb,subnet-09fad3574d5bd6bef
    alb.ingress.kubernetes.io/ssl-redirect: "443"
    alb.ingress.kubernetes.io/group.name: ldccai-dev-alb-ingress
    alb.ingress.kubernetes.io/group.order: '30'
  hosts:
    - host: n8n-template-gallery.ldccai.com
      paths:
        - path: /
          pathType: Prefix

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 75
  targetMemoryUtilizationPercentage: 75

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 250m
    memory: 256Mi

affinity: {}
nodeSelector: {}
tolerations: []

env:
  - name: N8N_API_BASE
    value: https://n8n.ldccai.com
  - name: N8N_TEMPLATE_S3_PATH
    value: s3://ldccai-s3-bucket-n8n/templates/
  - name: N8N_S3_REGION
    value: ap-northeast-2
    
livenessProbe:
  enabled: true
  path: /healthz
  port: http

readinessProbe:
  enabled: true
  path: /healthz
  port: http

serviceMonitor:
  enabled: false
  namespace: ""
  interval: 30s
  scrapeTimeout: 10s
  annotations: {}
  labels: {}
